@-webkit-keyframes wode{
	10%{-webkit-transform:rotate(36deg);}
	20%{-webkit-transform:rotate(72deg);}
	30%{-webkit-transform:rotate(108deg);}
	40%{-webkit-transform:rotate(144deg);}
	50%{-webkit-transform:rotate(180deg);}
	60%{-webkit-transform:rotate(216deg);}
	70%{-webkit-transform:rotate(252deg);}
	80%{-webkit-transform:rotate(288deg);}
	90%{-webkit-transform:rotate(334deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@keyframes wode{
	10%{-webkit-transform:rotate(36deg) ;}
	20%{-webkit-transform:rotate(72deg);}
	30%{-webkit-transform:rotate(108deg);}
	40%{-webkit-transform:rotate(144deg);}
	50%{-webkit-transform:rotate(180deg);}
	60%{-webkit-transform:rotate(216deg);}
	70%{-webkit-transform:rotate(252deg);}
	80%{-webkit-transform:rotate(288deg);}
	90%{-webkit-transform:rotate(334deg);}
	100%{-webkit-transform:rotate(360deg);}
}
.wode{
	-webkit-animation-name: wode;
	animation-name: wode;
	-webkit-animation-duration: 8s;
	animation-duration: 8s;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
}
p{
	font-size:0.01rem;
}
@media (min-width: 319px)  and (max-width: 359px){
	html{
		/*1rem = 100px */
		font-size: 100px;
	}
}
@media (min-width: 360px)  and (max-width: 359px){
	html{
		font-size: 100px; 
	}
}