*{padding: 0;margin: 0;font-size: 12px;font-family: '微软雅黑';color: #000;}
li {
	list-style: none;
}
img {
	border: none;
}
a {
	text-decoration: none;
} 
b{font-family: 'Microsoft Yahei'; font-weight:normal;}
i{font-style:normal;}
.clear {
	zoom: 1;
	clear: both;
}
.clear:after {
	display: block;
	content: '';
	clear: both;
}
body{
	overflow-x: hidden;
}

