.zhongk{width:1200px; margin:0 auto;}

/*banner*/
.banner{margin-top:50px;}
.banner .swiper-container {
      width: 100%;
      height: 628px;

    }
.banner .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /*width:100%;*/
      overflow:hidden;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.banner .swiper-pagination-bullet{width:20px!important; height:20px!important; margin:0 14px!important;
							background-color:#d4d3d3; opacity:1;}
.banner .swiper-pagination-bullet-active{background-color:#1e325f;}
.banner .swiper-container-horizontal>.swiper-pagination-bullets{bottom:76px!important;}

/*----------------------------------------------------首页-------------------------------------------------------------------*/
.kuaiyi{text-align:center; background:url(../images/logo2.png) no-repeat center 30px; background-size:70%;}
.kuaiyi .kuaiyi_top{padding-top:40px;}
.kuaiyi .kuaiyi_top b{font-size:48px; color:#1e3463; padding-bottom:12px; display:block;}
.kuaiyi .kuaiyi_top p{font-size:22px; color:#1e3463; line-height:40px;}
.kuaiyi_nei{margin:90px auto 0; width:1000px;}
.kuaiyi_nei ul li{float:left; width:25%;}
.kuaiyi_nei ul li b{display:block; height:80px;
	display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
        -webkit-box-pack: center; -ms-flex-pack: center;
        -webkit-justify-content: center; justify-content: center;
        -webkit-box-align: center; -ms-flex-align: center;
        -webkit-align-items: center; align-items: center;
}
.kuaiyi_nei ul li img{width:24%;}
.kuaiyi_nei ul li span{display:block; font-size:18px; color:#ce5151; margin:10px 0 6px;}
.kuaiyi_nei ul li p{font-size:14px; color:#1e3463;}

.kuaier{padding:80px 0;}
.kuaier p{font-size:36px; color:#1e3463; text-align:center;}
.kuaier ul{ padding-top:30px; margin-left:-1%;}
.kuaier ul li{ border-radius:8px; overflow:hidden; float:left; margin-left:1%;
	width:32.33333333%; position:relative; z-index:1; height:474px; cursor:pointer;
}
.kuaier ul li .kuaier_tu{ height:100%;
    transform: scale(1.1);
    transition: transform 0.55s;
}
.kuaier ul li:hover .kuaier_tu{ 
	transform: scale(1.02);
}
/*.kuaier ul li:nth-child(1) .kuaier_tu{background:url(../images/kuaier1.jpg) no-repeat center;}
.kuaier ul li:nth-child(2) .kuaier_tu{background:url(../images/kuaier2.jpg) no-repeat center;}
.kuaier ul li:nth-child(3) .kuaier_tu{background:url(../images/kuaier3.jpg) no-repeat center;}*/
.kuaier_zi{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(31,52,99,.4);
			text-align:center; display:none;}
.kuaier_zi img{padding:42% 0 6%; width:22%;}
.kuaier_zi span{display:block; font-size:28px; color:#fff;}

.kuaisan p{font-size:40px; color:#1e3463; text-align:center; padding-bottom:30px;}
.kuaisan ul{margin-left:-1%;}
.kuaisan ul li{float:left; width:49%; border-radius:8px; overflow:hidden; margin:0 0 1% 1%;
	 position:relative; z-index:1; height:340px; cursor:pointer;}
.kuaisan ul li .kuaisan_tu{width:100%; height:100%;
	transform: scale(1.1);
    transition: transform 0.55s;
}

.kuaisan ul li:hover .kuaisan_tu{ 
	transform: scale(1.02);
}
/*.kuaisan ul li:nth-child(1) .kuaisan_tu{background:url(../images/kuaisan1.jpg) no-repeat center;}
.kuaisan ul li:nth-child(2) .kuaisan_tu{background:url(../images/kuaisan2.jpg) no-repeat center;}
.kuaisan ul li:nth-child(3) .kuaisan_tu{background:url(../images/kuaisan3.jpg) no-repeat center;}
.kuaisan ul li:nth-child(4) .kuaisan_tu{background:url(../images/kuaisan4.jpg) no-repeat center;}*/

.kuaisan_zi{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(1,11,32,.51);
			text-align:center; }
.kuaisan_zi span{display:block; font-size:40px; color:#fff; padding-top:106px;}
.kuaisan_zi b{display:block; width:26%; height:2px; background-color:#fff; margin:10px auto;}
.kuaisan_zi p{font-size:18px; color:#fff; font-family:'微软雅黑'; line-height:30px;}

.kuaisi{padding-top:70px;}
.kuaisi p{font-size:40px; color:#1e3463; text-align:center; padding-bottom:40px;}
.kuaisi_nei{/*background-color:#f3f4f6;*/ padding:10px 0; margin-bottom:60px; border-radius:4px; overflow:hidden;}
.kuaisi_nei ul li{width:25%; float: left; height:200px;
	display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
        -webkit-box-pack: center; -ms-flex-pack: center;
        -webkit-justify-content: center; justify-content: center;
        -webkit-box-align: center; -ms-flex-align: center;
        -webkit-align-items: center; align-items: center;
}


/*----------------------------------------------------产品信息-------------------------------------------------------------------*/
.canpin_qian ul li{float:left;}
.canpin_qian ul{ padding:70px 0; margin-left:-1.5%;}
.canpin_qian ul li{ border-radius:8px; overflow:hidden; float:left; margin:0 0 1.5% 1%; 
	width:23.4%; position:relative; z-index:1; height:384px; cursor:pointer; 
	transition: all 0.32s cubic-bezier(0.39, 0.58, 0.57, 1);
    transform: translateZ(0);
}
.canpin_qian ul li:hover{    box-shadow: 2px 2px 10px #666; transform: translate3d(0, -2px, 0);}
.canpin_qian ul li img{height:100%;}
.canpin_qian_k{position:absolute; bottom:0; left:0; width:100%; height:16%; background-color:rgba(1,11,32,.51);
			text-align:center; display:none;}
.canpin_qian_k span{display:block; font-size:24px; color:#fff; padding-top:12px;}
.canpin_qian_k .span_eh{font-size:18px; padding-top:4px;}
.canpin_wen_da{width:100%;} 
.canpin_wen span{display:block; padding:0 6%; margin-bottom:60px;}
.canpin_wen span b{padding:20px 0; font-size:26px; display:block;}
.canpin_wen span p{font-size:18px; line-height:32px; text-indent:36px; text-align: justify}
.canpin_wen span b img{float:right;}

.tanc_canp{position:fixed; width:100%; height:100%; top:0; left:0; z-index:999; display:none;}
.tanc_canp .tanc_canp_hei{position:absolute; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,.5);}
.tanc_canp .tanc_canp_nei{position:absolute; width:1000px; background-color:#fff; top:20%; left:50%; margin-left:-500px; padding:4% 0;}
.tanc_canp .tanc_canp_nei .tanc_canp_nei_left{width:40%; float:left;
		display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
        -webkit-box-pack: center; -ms-flex-pack: center;
        -webkit-justify-content: center; justify-content: center;
        -webkit-box-align: center; -ms-flex-align: center;
        -webkit-align-items: center; align-items: center;
}
.tanc_canp .tanc_canp_nei .tanc_canp_nei_left img{border-radius:4px; box-shadow: 2px 2px 10px #666;}
.tanc_canp .tanc_canp_nei .tanc_canp_nei_right{width:58%; float:left;}
.tanc_canp .tanc_canp_nei .tanc_canp_nei_right b{display:block; font-size:30px; color:#183063; line-height:40px; font-weight:bold; padding-bottom:8px;}
.tanc_canp .tanc_canp_nei .tanc_canp_nei_right p{font-size:22px; line-height:42px;}
.tanc_canp .tanc_canp_nei .tanc_canp_nei_chacha{position:absolute; top:4%; right:2%; cursor: pointer;}
.tanc_canp .tanc_canp_nei .tanc_canp_nei_chacha img{width:40px;}
.tanc_canp .tanc_canp_nei .xiazai{position:absolute; bottom:4%; right:3%; cursor: pointer;}


/*----------------------------------------------------技术支持-------------------------------------------------------------------*/
.jishuzc>p{font-size:40px; color:#1e3463; text-align:center; padding:8% 0 4%;}
.jishuzc ul{padding:6% 0 11%;}
.jishuzc ul li{float: left; width:33.33333%; text-align:center; height:300px;}
/*.jishuzc ul li:hover{background-color:#EFEFEF;}*/
.jishuzc ul li a{display:block;}
.jishuzc ul li span{display:block; padding-top:44px;}
.jishuzc ul li span img{width:40%;
		transition: all 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
    transform: translateZ(0);
}
.jishuzc ul li:hover span img{ transform: translate3d(0, -3px, 0);}
.jishuzc ul li b{display:block; font-size:20px; line-height:50px;}


/*----------------------------------------------------关于我们-------------------------------------------------------------------*/
.shouji_mei{display:none;}
.guangyu_wom{position:relative; padding:4% 0 6%;}
.guangyu_wom p{font-size:40px; color:#1e3463; text-align:center; padding-bottom:30px;}
.guangyu_wom>img{float:left; width:50%;}
.guangyu_wom span{display:block; float:right; font-size:24px; color:#1e3463; line-height:40px; margin-left:2%; width:48%; text-align:justify;}

.wom_gs{text-align:center;}
.wom_gs p{font-size:40px; color:#1e3463; text-align:center; padding-bottom:50px;}
.wom_gs .wom_gs_jiaru{display:block; width:300px; text-align:center; font-size:24px; line-height:56px; color:#1e3463;
						border:1px solid #1e3463; border-radius:50px; margin:30px auto 100px;}


/*视频播放*/
.sp_shangc{position:fixed; width:100%; height:100%; top:0; left:0; display:none;}
.sp_shangc_hui{position:absolute; width:100%; height:100%; top:0; left:0; background-color:rgba(0,0,0,.5);}
.sp_shangc_neo{position:absolute; top:18%; left:50%; margin-left:-520px; width:1000px; height:520px;}
.sp_shangc_neo iframe{width:1000px; height:520px;}
.sp_shangc_cha{position:absolute; width:1000px; height:100px; text-align:right; top:16%; left:53%; margin-left:-518px; z-index:999999;}
.sp_shangc_cha img{width:34px; cursor:pointer;}























