.header{background-color:#1e3463; position:fixed; top:0; left:0; width:100%; height:50px; z-index:99999;
			box-shadow:0px -2px 10px #000;}
.header a{cursor:pointer;}
.header .header_left{float:left; padding-top:10px;}
.header .header_left img{width:140px;}
.header .header_right{float:right;}
.header .header_right a{font-size:16px; color:#ccc; padding:0 10px; margin:8px 0 0 80px; display:inline-block; line-height:36px;}
.header_xuan{color:#fff!important; border-bottom:2px solid #fff;}


/**/
.header_right_sj{display:none; float:right; width:10%; margin-top:4%;}
.header_right_sj img{ width:100%;}
/**/

/**/
.heibei{background:rgba(0,0,0,0.3); position:fixed; width:100%; height:100%; left:0; top:0; display:none;}
.daohang{position:fixed; width:100%; top:0; left:0; 
	-webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    -webkit-transform: translate(0,-100%);
    transform: translate(0,-100%);
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
.daohang a{display:block; background-color:#1e3463; padding:14px 18px; color:#fff; font-size:1.4rem; position:relative; z-index:9;}
.daohang .daohang_z{background-color:#fff; color:#1e3463;}
.daohang .dh_chacha{position:relative; left:44%; bottom:0; display:block; width:12%; z-index:1;}
.daohang .dh_chacha img{width:100%;}
/**/


.footer{background-color:#1e3463; padding-top:50px;}
.footer .footer_nei .footer_nei_left{float:left; margin-bottom:26px;}
.footer .footer_nei .footer_nei_left span{font-size:20px; color:#fff; padding-bottom:26px; display:block;  font-weight:bold;}
.footer .footer_nei .footer_nei_left p{font-size:16px; color:#fff; padding-bottom:10px;}
.footer .footer_nei .footer_nei_left p img{vertical-align:middle; padding-right:8px; margin-top:-2px; width:30px;}
.footer .footer_nei .footer_nei_right{float:right; width:100%; margin-bottom:3%;}
.footer .footer_nei .footer_nei_right span{display:block; margin-right:12%; text-align:left; float:left;}
.footer .footer_nei .footer_nei_right span:last-child{margin-right:0;}
.footer .footer_nei .footer_nei_right span b{font-size:20px; color:#fff; display:block; padding-bottom:18px; font-weight:bold;}
.footer .footer_nei .footer_nei_right span i{font-size:16px; color:#fff; display:block; padding-bottom:10px;}
.footer .footer_nei .footer_nei_right span a{font-size:16px; color:#fff; display:block; padding-bottom:10px;}
.footer_nei_di{border-top:1px solid #fff;}
.footer_nei_di p{font-size:16px; color:#fff; line-height:60px; text-align:center; font-family:'微软雅黑';}
.footer_nei_di a{font-size:16px; color:#fff; line-height:60px; text-align:center; font-family:'微软雅黑';}

@media screen and (max-width: 1300px){
	.zhongk{width:90%;}
	.header_right a{margin:8px 0 0 44px!important;}
	.footer .footer_nei .footer_nei_left p{font-size:18px!important;}
	.footer .footer_nei .footer_nei_left p img{width:22px!important;}
	.footer .footer_nei .footer_nei_right span b{font-size:20px!important;}
	.footer .footer_nei .footer_nei_right span i{font-size:16px!important;}
	.footer .footer_nei .footer_nei_right span{margin-right:8%!important;}
	.footer_nei_di p{line-height:66px!important;}

	/*关于我们*/
	.guangyu_wom p:nth-child(2){top:6%!important; right:2%!important; line-height:2.6rem!important;}
	.guangyu_wom p:nth-child(3),.guangyu_wom p:nth-child(4){width:61%!important; line-height:2.4rem!important;}
	.guangyu_wom p:nth-child(4){top:56%!important;}
}
@media screen and (max-width: 600px){
	body,html{}
	.zhongk{width:90%;}
	.header{height:4.4rem;}
	.header_nei{}
	.header_left{width:40%; padding-top:3%!important;}
	.header_left img{width:100%;}
	.header_right{display:none;}
	.header_right_sj{display:block;}
	/**/
	.banner{margin-top:4.4rem!important;}
	.banner .swiper-container{ height:15rem!important;}
	.banner .swiper-slide img{width:150%;}
	.banner .swiper-container-horizontal>.swiper-pagination-bullets{bottom:10px!important;}
	.banner .swiper-pagination-bullet{width:14px!important; height:14px!important; margin:0 6px!important;}
	/**/
	.kuaiyi{background-size:100%;}
	.kuaiyi .kuaiyi_top{padding-top:1rem;}
	.kuaiyi .kuaiyi_top b{font-size:2.4rem; padding-bottom:0.6rem;}
	.kuaiyi .kuaiyi_top p{font-size:1.2rem; line-height:2rem;}
	.kuaiyi_nei{width:100%; margin-top:2rem;}
	.kuaiyi_nei ul li{width:50%; margin-bottom:2.4rem; height:11rem;}
	.kuaiyi_nei ul li>img{width:24%; padding:0!important; height:auto;}
	.kuaiyi_nei ul li span{font-size:1.8rem; margin:0.8rem 0 0.6rem;}
	.kuaiyi_nei ul li p{font-size:1.2rem;}
	/**/
	.kuaier{padding:1rem 0 2rem;}
	.kuaier p{font-size:2.8rem;}
	.kuaier ul{margin:0; padding:0}
	.kuaier ul li{width:80%; margin:1.4rem auto; float:inherit;}
	/**/
	.kuaisan p{font-size:2.8rem; padding-bottom:0;}
	.kuaisan ul{margin:0;}
	.kuaisan ul li{width:80%; margin:1.4rem auto; float:inherit;}
	.kuaisan_zi span{font-size:2rem; padding-top:4.2rem;}
	.kuaisan_zi b{margin:1rem auto;}
	.kuaisan_zi p{font-size:1.2rem;}
	/**/
	.kuaisi{padding-top:2rem;}
	.kuaisi p{font-size:2.8rem; padding-bottom:1.2rem;}
	.kuaisi img{width:100%!important;}
	/**/
	.footer{padding-top:3rem;}
	.footer .footer_nei .footer_nei_left{margin-bottom:1rem;}
	.footer .footer_nei .footer_nei_left span{padding-bottom:1rem;}
	.footer .footer_nei .footer_nei_left p{padding-bottom:1rem; line-height:3rem;}
	.footer_nei_right{width:100%;}
	.footer .footer_nei .footer_nei_right span{width:100%; margin-left:0!important;}
	.footer .footer_nei .footer_nei_right span b{font-size:1.4rem!important; padding-bottom:1rem;}
	.footer .footer_nei .footer_nei_right span i{font-size:1.1rem!important;}
	.footer_nei_di p{font-size:1rem; width:80%; line-height:2.4rem!important; margin:0 auto; padding:1rem 0;}
	/**/
	.sp_shangc_neo{width:100%; height:50%; left:0; margin-left:0;}
	.sp_shangc_neo iframe{width:100%; height:90%;}
	.sp_shangc_cha{width:100%; height:4%; left:0; margin-left:0;}

	/*产品信息*/
	.canpin_qian ul{padding-top:20px; margin:0;}
	.canpin_qian ul li{width:86%; margin:0 7% 5%;}
	.canpin_qian_k{display:block;}
	.tanc_canp .tanc_canp_nei{width:90%; top:54px; left:5%; margin:0; overflow:auto; height:100%;}
	.tanc_canp .tanc_canp_nei .tanc_canp_nei_left{width:100%;}
	.tanc_canp .tanc_canp_nei .tanc_canp_nei_right{width:90%; padding:5%; margin-bottom:5%;}
	.tanc_canp .tanc_canp_nei .xiazai{position:fixed;}
	.tanc_canp .tanc_canp_nei .tanc_canp_nei_chacha img{width:30px;}

	/*关于我们*/
	.guangyu_wom p{font-size:22px; padding-bottom:20px;}
	.guangyu_wom>img{width:100%}
	.guangyu_wom span{width:100%; font-size:16px; line-height:28px; text-indent:32px; padding-top:10px;}
	.shouji_mei img{width:100%; }
	.wom_gs img{width:100%;}
	.wom_gs p{font-size:22px!important; padding-bottom:20px;}
	.wom_gs span{font-size:1.4rem!important;}
}	
@media screen and (min-width: 1400px){
	.kuaiyi{background-size:60%;}
}

