<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, "> 
    <title>Bongos Robotics </title>
    <!-- 公共 -->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <!-- 插件动画 （滑动到屏幕区域执行动画）-->
    <link rel="stylesheet" type="text/css" href="../css/animate.min.css">
    <!-- 页面样式 -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
    <!-- 页头和页尾 houjia-->
    <link rel="stylesheet" type="text/css" href="../css/top_wei.css">


    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/wow.min.js"></script>
    <script type="text/javascript" src="../js/swiper.min.js"></script>
    <link rel="icon" href="/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header_nei zhongk clear">
            <div class="header_left">
                <img src="../images/logo.png">
            </div>
            <div class="header_right">
                <a href="index.html">{{ index }}</a>
                <a href="products.html">{{ product }}</a>
                <a href="support.html">{{ support }}</a>
                <a href="about.html" class="header_xuan">{{ about }}</a>
                <a class="zhongwen">{{ cn }}</a>
            </div>
            <div class="header_right_sj">
                <img src="../images/celan.png">
            </div>
        </div>
        <div class="heibei"></div>
        <div class="daohang">
            <a href="index.html">{{ index }}</a>
            <a href="products.html">{{ product }}</a>
            <a href="support.html">{{ support }}</a>
            <a href="about.html" class="daohang_z">{{ about }}</a>
            <a class="zhongwen">{{ cn }}</a>
            <span class="dh_chacha"><img src="../images/203.png"></span>
        </div>
    </div>
<script type="text/javascript" src="../js/ziji.js"></script>

    <div class="banner">
        <img src="../images/banner4_ying.jpg" style="width:100%;">
    </div>

    <div class="content">
        <div class="guangyu_wom zhongk clear">
            <p>About Bongos</p>
            <img src="../images/guanyu.jpg">
            <span style="letter-spacing: -1px; font-size: 19px; line-height: 32px;">Bongos is a tambourine. The well-known theoretical physicist Richard Feynman was good at playing. Mr. Feynman, as the founder of quantum electrodynamics and Bongos performers, was equipped with both the dedication of a scientist and the romance of an artist. Our founder named the company Bongos, hopes that during the journey of researching and developing we will not forget the beauty of true life. We start with intelligent research and development, and we are committed to bring you more easy and comfortable life. At present, Bongos has got a unique advantage in the robot intelligent navigation, path planning, automatic obstacle avoidance and other technical aspects, and has a number of patents. Products include crawler/wheeled robot platform, Rik centimeter-level RTK high-precision positioning module series, embedded artificial intelligence modules and related supporting software products. </span>
        </div>

        <div class="wom_gs zhongk">
            <p>Team</p>
            <img src="../images/wom_gs_zi.jpg">
           
            <a class="wom_gs_jiaru" href="https://hr.lagou.com/company/gongsi/113155.html"  target="_blank">Join us</a>
        </div>
    </div>

    <div class="footer">
        <div class="footer_nei clear zhongk">
            <dir class="footer_nei_right">
                <span>
                    <b>Contact Us</b>
                    <i>Address: Room 1112, No.275-8 East Guoding Road,Shanghai,China</i>
                    <i>Tel: +86(21) - 55830749 / 17301879533</i>
                </span>
                <span>
                    <b>Cooperation</b>
                    <i>business@bongostech.com</i>
                    <i>sales@bongostech.com</i>
                </span>
                <span>
                    <b>Customer Support</b>
                    <i>Order Online</i>
                    <a href="support.html">Technical Support</a>
                </span>
            </dir>
        </div>
        <div class="footer_nei_di">
            <p>版权所有 © 邦鼓思电子科技（上海）有限公司 2016 沪ICP备16005080号</p>
        </div>
    </div>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
    // new WOW().init();
     var wow = new WOW({
    boxClass: 'wow',
    animateClass: 'animated',
    offset: 100,
    mobile: true,
    live: true
    });
    wow.init();
};
</script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/ying.js"></script>
</html>