<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, "> 
	<title>Bongos Robotics </title>
    <!-- 公共 -->
	<link rel="stylesheet" type="text/css" href="../css/common.css">
    <!-- 插件动画 （滑动到屏幕区域执行动画）-->
    <link rel="stylesheet" type="text/css" href="../css/animate.min.css">
    <!-- 页面样式 -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
    <!-- 页头和页尾 houjia-->
    <link rel="stylesheet" type="text/css" href="../css/top_wei.css">


	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/wow.min.js"></script>
    <script type="text/javascript" src="../js/swiper.min.js"></script>
    <link rel="icon" href="/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header_nei zhongk clear">
            <div class="header_left">
                <img src="../images/logo.png">
            </div>
            <div class="header_right">
                <a href="index.html" class="header_xuan">{{ index }}</a>
                <a href="products.html">{{ product }}</a>
                <a href="support.html">{{ support }}</a>
                <a href="about.html">{{ about }}</a>
                <a class="zhongwen">{{ cn }}</a>
            </div>
            <div class="header_right_sj">
                <img src="../images/celan.png">
            </div>
        </div>
        <div class="heibei"></div>
        <div class="daohang">
            <a href="index.html" class="daohang_z">{{ index }}</a>
            <a href="products.html">{{ product }}</a>
            <a href="support.html">{{ support }}</a>
            <a href="about.html">{{ about }}</a>
            <a class="zhongwen">{{ cn }}</a>
            <span class="dh_chacha"><img src="../images/203.png"></span>
        </div>
    </div>
<script type="text/javascript" src="../js/ziji.js"></script>

    <div class="banner">
          <!-- Swiper -->
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="../images/banner2_ying.jpg"></div>
              <div class="swiper-slide"><img src="../images/banner3_ying.jpg"></div>
              <div class="swiper-slide"><img src="../images/banner1_ying.jpg"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>

          <!-- Initialize Swiper -->
          <script>
            var banner = new Swiper('.banner .swiper-container', {
              pagination: {
                el: '.swiper-pagination',
                clickable: true,
                 loop:true,
              },
              autoplay: {
                delay: 3000,
                stopOnLastSlide: false,
                disableOnInteraction: true,
                },
            });
          </script>
    </div>

    <div class="content">
        <div class="kuaiyi ">
            <div class="kuaiyi_cheng zhongk">
                <div class="kuaiyi_top wow fadeInDown">
                    <b>The Bongos AI</b>
                    <p>Artificial intelligence on a module, serving for multiple applications</br>
                     and products. Owning a products chain from downstream to</br> 
                     upstream, bongos will fulfill its long-term business vision.</p>
                </div>
                <div class="kuaiyi_nei wow fadeInDown">
                    <ul class="clear">
                        <li>
                            <b><img src="../images/kuaiyi1.jpg" style="padding-top:10px;"></b>
                            <span>Sensor Fusion</span>
                            <p>Visual Detection, </br>
                            Inertial Navigation, Satellite Positioning</p>
                        </li>
                        <li>
                            <b><img src="../images/kuaiyi2.jpg" style="padding-top:10px;"></b>
                            <span>Neural Network</span>
                            <p>Object Recognition, </br>
                            3D Mapping, Feature Detection</p>
                        </li>
                        <li>
                            <b><img src="../images/kuaiyi3.jpg"></b>
                            <span>Robotic Control</span>
                            <p>Power Control, HCI, </br>
                            Path Planning, Obstacle Avoidance</p>
                        </li>
                        <li>
                            <b><img src="../images/kuaiyi4.jpg"></b>
                            <span>RTK GPS</span>
                            <p>Single/Dual Frequency </br>
                            High-precision GNSS Positioning Technology</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="kuaier zhongk wow pulse">
            <!-- <p>视频展示</p> -->
            <ul class="clear">
                <li>
                    <img src="../images/kuaier1.jpg" class="kuaier_tu">
                    <div class="kuaier_zi">
                        <img src="../images/bo.png">
                        <span>Autonomous path planning for outdoor applications</span>
                    </div>
                </li>
                <li>
                    <img src="../images/kuaier2.jpg" class="kuaier_tu">
                    <div class="kuaier_zi">
                        <img src="../images/bo.png">
                        <span>Indoor and outdoor automatic robot is operating</span>
                    </div>
                </li>
                <li>
                    <img src="../images/kuaier3.jpg" class="kuaier_tu">
                    <div class="kuaier_zi">
                        <img src="../images/bo.png">
                        <span>Board-Level Neuro Network for Visual Detection</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="kuaisan zhongk wow pulse">
            <p>Scenarios</p>
            <ul class="clear">
                <li>
                    <img src="../images/kuaisan1.jpg"  class="kuaisan_tu">
                    <div class="kuaisan_zi">
                        <span>Wharfs</span>
                        <b></b>
                        <p>Make the terminal warehouse</br>
                         logistics smart, efficient and safe.</p>
                    </div>
                </li>
                <li>
                     <img src="../images/kuaisan2.jpg"  class="kuaisan_tu">
                    <div class="kuaisan_zi">
                        <span>Islands</span>
                        <b></b>
                        <p>A good patrol soldier</br>
                         is fearless and vigilance.</p>
                    </div>
                </li>
                <li>
                     <img src="../images/kuaisan3.jpg"  class="kuaisan_tu">
                    <div class="kuaisan_zi">
                        <span>Airports</span>
                        <b></b>
                        <p>Intelligent luggage sorting and </br>
                        transporting system provides a better travel experience.</p>
                    </div>
                </li>
                <li>
                     <img src="../images/kuaisan4.jpg"  class="kuaisan_tu">
                    <div class="kuaisan_zi">
                        <span>Self-driving Car</span>
                        <b></b>
                        <p>'Deep learning'  escorts you on every trip.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="kuaisi zhongk" style="text-align:center;">
            <p>Partners</p>
            <div class="kuaisi_nei">
                <!-- <ul class="clear">
                    <li><img src="../images/logo1.png" style="width:80%;"></li>
                    <li><img src="../images/logo3.png" style="width:80%;"></li>
                    <li><img src="../images/logo4.png"></li>
                    <li><img src="../images/logo5.png" style="width:46%;"></li>
                    <li><img src="../images/logo6.png" style="width:80%;"></li>
                    <li><img src="../images/logo7.png" style="width:50%;"></li>
                    <li><img src="../images/logo8.png" style="width:66%;"></li>
                    <li><img src="../images/logo9.png" style="width:60%;"></li>
                </ul> -->
                <img src="../images/hezuo.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer_nei clear zhongk">
            <dir class="footer_nei_right">
                <span>
                    <b>Contact Us</b>
                    <i>Address: Room 1112, No.275-8 East Guoding Road,Shanghai,China</i>
                    <i>Tel: +86(21) - 55830749 / 17301879533</i>
                </span>
                <span>
                    <b>Cooperation</b>
                    <i>business@bongostech.com</i>
                    <i>sales@bongostech.com</i>
                </span>
                <span>
                    <b>Customer Support</b>
                    <i>Order Online</i>
                    <a href="support.html">Technical Support</a>
                </span>
            </dir>
        </div>
        <div class="footer_nei_di">
            <p>版权所有 © 邦鼓思电子科技（上海）有限公司 2016 沪ICP备16005080号</p>
        </div>
    </div>

<div class="sp_shangc">
    <div class="sp_shangc_cha"><img src="../images/cha.png"></div>
    <div class="sp_shangc_hui"></div>
    <div class="sp_shangc_neo">
        <iframe frameborder="0" src="" allowfullscreen="" class="iframe"></iframe>
    </div>
</div>

</body>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
    // new WOW().init();
     var wow = new WOW({
    boxClass: 'wow',
    animateClass: 'animated',
    offset: 100,
    mobile: true,
    live: true
    });
    wow.init();
};

  var app = new Vue({
    el: '.header_right',
    data: {
      yi: '主页',
      er:'产品信息',
      san:'技术支持',
      si:'关于我们',
      wu:'English'
    }
  })

  var shouji = new Vue({
    el: '.daohang',
    data: {
      yi: '主页',
      er:'产品信息',
      san:'技术支持',
      si:'关于我们',
      wu:'English'
    }
  })
</script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/ying.js"></script>
</html>
