<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, "> 
    <title>Bongos Robotics </title>
    <!-- 公共 -->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <!-- 插件动画 （滑动到屏幕区域执行动画）-->
    <link rel="stylesheet" type="text/css" href="../css/animate.min.css">
    <!-- 页面样式 -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
    <!-- 页头和页尾 houjia-->
    <link rel="stylesheet" type="text/css" href="../css/top_wei.css">


    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/wow.min.js"></script>
    <script type="text/javascript" src="../js/swiper.min.js"></script>
    <link rel="icon" href="/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header_nei zhongk clear">
            <div class="header_left">
                <img src="../images/logo.png">
            </div>
            <div class="header_right">
                <a href="index.html">{{ index }}</a>
                <a href="products.html" class="header_xuan">{{ product }}</a>
                <a href="support.html">{{ support }}</a>
                <a href="about.html">{{ about }}</a>
                <a class="zhongwen">{{ cn }}</a>
            </div>
            <div class="header_right_sj">
                <img src="../images/celan.png">
            </div>
        </div>
        <div class="heibei"></div>
        <div class="daohang">
            <a href="index.html">{{ index }}</a>
            <a href="products.html" class="daohang_z">{{ product }}</a>
            <a href="support.html">{{ support }}</a>
            <a href="about.html">{{ about }}</a>
            <a class="zhongwen">{{ cn }}</a>
            <span class="dh_chacha"><img src="../images/203.png"></span>
        </div>
    </div>
<script type="text/javascript" src="../js/ziji.js"></script>

    <div class="banner">
        <img src="../images/banner5_ying.jpg" style="width:100%;">
    </div>

    <div class="content">
        <div class="canpin">
            <div class="canpin_qian zhongk">
                <ul class="clear">
                    <li>
                        <img src="../images/canpin_qian1.jpg">
                        <div class="canpin_qian_k">
                            <span class="span_eh">The Fully Automatic</br> Robot Platform</span>
                        </div>
                    </li>
                    <li>
                        <img src="../images/canpin_qian2.jpg">
                        <div class="canpin_qian_k">
                            <span>Conga Lawn Mower</span>
                        </div>
                    </li>
                    <li>
                        <img src="../images/canpin_qian3.jpg">
                        <div class="canpin_qian_k">
                            <span class="span_eh">Rik Pro GNSS</br>Satellite Receiver</span>
                        </div>
                    </li>
                    <li>
                        <img src="../images/canpin_qian4.jpg">
                        <div class="canpin_qian_k">
                            <span>GNSS Attena</span>
                        </div>
                    </li>
                    <li>
                        <img src="../images/canpin_qian5.jpg">
                        <div class="canpin_qian_k">
                            <span class="span_eh" style="font-size:14px; padding-top:12px;">Rik Dual: Dual Frequency Multi-satellite</br>Centimeter Precision Positioning Module</span>
                        </div>
                    </li>
                    <li>
                        <img src="../images/canpin_qian6.jpg">
                        <div class="canpin_qian_k">
                            <span class="span_eh" style="font-size:14px; padding-top:12px;">Rik Lite: Single Frequency Multi-satellite</br>Decimeter Precision Positioning Module</span>
                        </div>
                    </li>
                    <li>
                        <img src="../images/canpin_qian7.jpg">
                        <div class="canpin_qian_k">
                            <span>Wireless Module</span>
                        </div>
                    </li>
                    <li>
                        <img src="../images/canpin_qian8.jpg">
                        <div class="canpin_qian_k">
                            <span class="span_eh">Byngo Robot</br>Neuro Network Platform</span>
                        </div>
                    </li>
                    <li>
                        <img src="../images/canpin_qian9.jpg">
                        <div class="canpin_qian_k">
                            <span class="span_eh">Byngo: Robot</br>Control Module</span>
                        </div>
                    </li>
                    <li>
                        <img src="../images/canpin_qian10.jpg">
                        <div class="canpin_qian_k">
                            <span>RTK Network Router</span>
                        </div>
                    </li>
                    <li class="zuihbuxs">
                        <img src="../images/canpin_qian11.jpg">
                    </li>
                </ul>
            </div>

            <div class="canpin_wen zhongk">
                <img src="../images/canpin_wen1.jpg" class="canpin_wen_da">
                <span>
                    <b>Indoor and outdoor intelligent logistics solutions <img src="../images/xiazai.png"></b>
                    <p>Bongos' logistics solutions can handle both indoor and outdoor scenarios, such as airports, logistics distribution centers, shopping malls, and terminals. The solutions use a single module to address both indoor and outdoor customer needs, reducing costs without losing any performances. Solutions include Bongos' series of self-research results, which can help customers achieve the goal of precise positioning, path planning, collaborative work in indoor and outdoor.</p>
                </span>

                <img src="../images/canpin_wen2.jpg" class="canpin_wen_da">
                <span>
                    <b>ADAS solution <img src="../images/xiazai.png"></b>
                    <p>The embedded smart driver assistant system that integrated camera solution and artificial intelligence algorithms. It can sense, self-locate, detect objects, and even alarm vehicles about their real-time traffic conditions. Developed for the automotive aftermarket, providing more protection for driving safety.</p>
                </span>

                <img src="../images/canpin_wen3.jpg" class="canpin_wen_da">
                <span>
                    <b>Agriculture and forestry smart conservation solutions <img src="../images/xiazai.png"></b>
                    <p>Agricultural unmanned conservation solutions for large agricultural tractors, combine harvesters, UAV and other aftermarkets, can quickly upgrade agricultural equipment. The solution includes the self-developed control system, path planning system, precision positioning system and obstacle avoidance system, which can effectively improve the harvesting efficiency.</p>
                </span>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer_nei clear zhongk">
            <dir class="footer_nei_right">
                <span>
                    <b>Contact Us</b>
                    <i>Address: Room 1112, No.275-8 East Guoding Road,Shanghai,China</i>
                    <i>Tel: +86(21) - 55830749 / 17301879533</i>
                </span>
                <span>
                    <b>Cooperation</b>
                    <i>business@bongostech.com</i>
                    <i>sales@bongostech.com</i>
                </span>
                <span>
                    <b>Customer Support</b>
                    <i>Order Online</i>
                    <a href="support.html">Technical Support</a>
                </span>
            </dir>
        </div>
        <div class="footer_nei_di">
            <p>版权所有 © 邦鼓思电子科技（上海）有限公司 2016 沪ICP备16005080号</p>
        </div>
    </div>

    <div class="tanc_canp">
        <div class="tanc_canp_hei"></div>
        <div class="tanc_canp_nei clear">
            <a class="tanc_canp_nei_chacha"><img src="../images/cha.png"></a>
            <div class="tanc_canp_nei_left">
                 <img src="../images/canpin_qian1.jpg">
            </div>
            <div class="tanc_canp_nei_right">
                 <b>产品一详情</b>
                 <div class="canq_jies">
                     
                 </div>
            </div>
            <a class="xiazai"><img src="../images/xiazai.png"></a>
        </div>
    </div>
</body>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
    // new WOW().init();
     var wow = new WOW({
    boxClass: 'wow',
    animateClass: 'animated',
    offset: 100,
    mobile: true,
    live: true
    });
    wow.init();
};
</script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/ying.js"></script>
</html>
