<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, "> 
    <title>邦鼓思 | 嵌入式人工智能  </title>
    <!-- 公共 -->
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <!-- 插件动画 （滑动到屏幕区域执行动画）-->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <!-- 页面样式 -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <!-- 页头和页尾 houjia-->
    <link rel="stylesheet" type="text/css" href="css/top_wei.css">


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <link rel="icon" href="/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header_nei zhongk clear">
            <div class="header_left">
                <img src="images/logo.png">
            </div>
            <div class="header_right">
                <a href="index.html">{{ index }}</a>
                <a href="products.html">{{ product }}</a>
                <a href="support.html">{{ support }}</a>
                <a href="about.html" class="header_xuan">{{ about }}</a>
                <a class="translation">{{ en }}</a>
            </div>
            <div class="header_right_sj">
                <img src="images/celan.png">
            </div>
        </div>
        <div class="heibei"></div>
        <div class="daohang">
            <a href="index.html">{{ index }}</a>
            <a href="products.html">{{ product }}</a>
            <a href="support.html">{{ support }}</a>
            <a href="about.html" class="daohang_z">{{ about }}</a>
            <a class="translation">{{ en }}</a>
            <span class="dh_chacha"><img src="images/203.png"></span>
        </div>
    </div>
<script type="text/javascript" src="js/ziji.js"></script>

    <div class="banner">
        <img src="images/banner4.jpg" style="width:100%;">
    </div>

    <div class="content">
        <div class="guangyu_wom zhongk clear">
            <p>关于邦鼓思</p>
            <img src="images/guanyu.jpg">
            <span>Bongos（邦高鼓）是美国著名理论物理学家理查德·费曼所擅长的手鼓。费曼先生作为量子电动力学奠基人和Bongos演奏者兼具了科学家的执著和艺术家的浪漫。感悟于此，我们创始人以Bongos命名公司，希望邦鼓思科技在研发的征途中能不忘生活的真和趣。我们以智能研发起始，致力于为您带来更加闲适舒心的生活。目前，公司已经在机器人智能导航、路径规划、嵌入式人工智能等技术方面形成了独有优势并拥有多篇专利。产品包括室外厘米级RTK高精度定位模块、嵌入式人工智能模块、民用智能草坪机器人、军用/商用物流安防机器人系列。</span>
        </div>

        <div class="wom_gs zhongk">
            <p>核心团队</p>
            <img src="images/wom_gs_zi.jpg">
            <p style="padding:5% 0; font-size:34px;">我们相信，机器人必将改变人类的生活。愿乘风破浪，征智能海洋！</p>
            <a class="wom_gs_jiaru" href="https://hr.lagou.com/company/gongsi/113155.html"  target="_blank">加入我们</a>
        </div>
    </div>

    <div class="footer">
        <div class="footer_nei clear zhongk">
            <!-- <dir class="footer_nei_left">
                <span>联系我们</span>
                <p><img />地址：上海市国定东路275 - 8号绿地汇创LOFT 1112室</p>
                <p><img />电话：+86(21) - 55830749 / 17301879533 </p>
            </dir> -->
            <dir class="footer_nei_right">
                <span>
                    <b>联系我们</b>
                    <i>地址：上海市国定东路275 - 8号绿地汇创LOFT 1112室</i>
                    <i>电话：+86(21) - 55830749 / 17301879533 </i>
                </span>
                <span>
                    <b>商务合作</b>
                    <i>商务：business@bongostech.com</i>
                    <i>销售：sales@bongostech.com</i>
                </span>
                <span>
                    <b>客户支持</b>
                    <i>在线订购</i>
                    <a href="support.html">技术支持</a>
                </span>
            </dir>
        </div>
        <div class="footer_nei_di">
            <p >版权所有 © 邦鼓思电子科技（上海）有限公司 2017 <a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备16005080号</a></p>
       </div>
    </div>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
    // new WOW().init();
     var wow = new WOW({
    boxClass: 'wow',
    animateClass: 'animated',
    offset: 100,
    mobile: true,
    live: true
    });
    wow.init();
};
</script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/zhong.js"></script>
</html>