<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, "> 
	<title>邦鼓思 | 嵌入式人工智能 </title>
    <!-- 公共 -->
	<link rel="stylesheet" type="text/css" href="css/common.css">
    <!-- 插件动画 （滑动到屏幕区域执行动画）-->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <!-- 页面样式 -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <!-- 页头和页尾 houjia-->
    <link rel="stylesheet" type="text/css" href="css/top_wei.css">


	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <link rel="icon" href="/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header_nei zhongk clear">
            <div class="header_left">
                <img src="images/logo.png">
            </div>
            <div class="header_right">
                <a href="index.html" class="header_xuan">{{ index }}</a>
                <a href="products.html">{{ product }}</a>
                <a href="support.html">{{ support }}</a>
                <a href="about.html">{{ about }}</a>
                <a class="translation">{{ en }}</a>
            </div>
            <div class="header_right_sj">
                <img src="images/celan.png">
            </div>
        </div>
        <div class="heibei"></div>
        <div class="daohang">
            <a href="index.html" class="daohang_z">{{ index }}</a>
            <a href="products.html">{{ product }}</a>
            <a href="support.html">{{ support }}</a>
            <a href="about.html">{{ about }}</a>
            <a class="translation">{{ en }}</a>
            <span class="dh_chacha"><img src="images/203.png"></span>
        </div>
    </div>
<script type="text/javascript" src="js/ziji.js"></script>

    <div class="banner">
          <!-- Swiper -->
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="images/banner2.jpg"></div>
              <div class="swiper-slide"><img src="images/banner3.jpg"></div>
              <div class="swiper-slide"><img src="images/banner1.jpg"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>

          <!-- Initialize Swiper -->
          <script>
            var banner = new Swiper('.banner .swiper-container', {
              pagination: {
                el: '.swiper-pagination',
                clickable: true,
                 loop:true,
              },
              autoplay: {
                delay: 3000,
                stopOnLastSlide: false,
                disableOnInteraction: true,
                },
            });
          </script>
    </div>

    <div class="content">
        <div class="kuaiyi ">
            <div class="kuaiyi_cheng zhongk">
                <div class="kuaiyi_top wow fadeInDown">
                    <b>邦鼓思人工智能</b>
                    <p>浓缩于板级系统，发散</br>
                    在终端应用。邦鼓思悉心沉淀技术， 打造闭环产</br>
                    业链，实现商业构想。</p>
                </div>
                <div class="kuaiyi_nei wow fadeInDown">
                    <ul class="clear">
                        <li>
                            <b><img src="images/kuaiyi1.jpg" style="padding-top:10px;"></b>
                            <span>传感器融合</span>
                            <p>视觉识别、</br>
                            惯性导航、卫星定位</p>
                        </li>
                        <li>
                            <b><img src="images/kuaiyi2.jpg" style="padding-top:10px;"></b>
                            <span>视觉网络</span>
                            <p>对象识别、</br>
                            3D地图建模、特征检测</p>
                        </li>
                        <li>
                            <b><img src="images/kuaiyi3.jpg"></b>
                            <span>机器人精准控制</span>
                            <p>动力控制、人机交互、</br>
                            路径规划、逻辑避障</p>
                        </li>
                        <li>
                            <b><img src="images/kuaiyi4.jpg"></b>
                            <span>RTK GPS</span>
                            <p>GNSS单双</br>
                            频高精度定位技术</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="kuaier zhongk wow pulse">
            <!-- <p>视频展示</p> -->
            <ul class="clear">
                <li>
                    <img src="images/kuaier1.jpg" class="kuaier_tu">
                    <div class="kuaier_zi">
                        <img src="images/bo.png">
                        <span>室外自主路径规划</span>
                    </div>
                </li>
                <li>
                    <img src="images/kuaier2.jpg" class="kuaier_tu">
                    <div class="kuaier_zi">
                        <img src="images/bo.png">
                        <span>室内外机器人自主工作</span>
                    </div>
                </li>
                <li>
                    <img src="images/kuaier3.jpg" class="kuaier_tu">
                    <div class="kuaier_zi">
                        <img src="images/bo.png">
                        <span>视觉神经网络板级应用</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="kuaisan zhongk wow pulse">
            <p>应用场景</p>
            <ul class="clear">
                <li>
                    <img src="images/kuaisan1.jpg"  class="kuaisan_tu">
                    <div class="kuaisan_zi">
                        <span>码 头</span>
                        <b></b>
                        <p>码头仓储物流货运模式的智能升级，</br>
                        提高效率，降低安全隐患。</p>
                    </div>
                </li>
                <li>
                     <img src="images/kuaisan2.jpg"  class="kuaisan_tu">
                    <div class="kuaisan_zi">
                        <span>岛 屿</span>
                        <b></b>
                        <p>好的巡逻战士无惧艰苦、不受气象困扰，</br>
                        时刻警觉守护一方安全。</p>
                    </div>
                </li>
                <li>
                     <img src="images/kuaisan3.jpg"  class="kuaisan_tu">
                    <div class="kuaisan_zi">
                        <span>机 场</span>
                        <b></b>
                        <p>智能运转分配托运行李，</br>
                        帮助提供更好的出行体验。</p>
                    </div>
                </li>
                <li>
                     <img src="images/kuaisan4.jpg"  class="kuaisan_tu">
                    <div class="kuaisan_zi">
                        <span>无人驾驶</span>
                        <b></b>
                        <p>基于神经网络深度学习，</br>
                        护航你每一次旅途。</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="kuaisi zhongk" style="text-align:center;">
            <p>商业合作</p>
            <div class="kuaisi_nei">
                <!-- <ul class="clear">
                    <li><img src="images/logo1.png" style="width:80%;"></li>
                    <li><img src="images/logo3.png" style="width:80%;"></li>
                    <li><img src="images/logo4.png"></li>
                    <li><img src="images/logo5.png" style="width:46%;"></li>
                    <li><img src="images/logo6.png" style="width:80%;"></li>
                    <li><img src="images/logo7.png" style="width:50%;"></li>
                    <li><img src="images/logo8.png" style="width:66%;"></li>
                    <li><img src="images/logo9.png" style="width:60%;"></li>
                </ul> -->
                <img src="images/hezuo.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer_nei clear zhongk">
            <!-- <dir class="footer_nei_left">
                <span>联系我们</span>
                <p><img />地址：上海市国定东路275 - 8号绿地汇创LOFT 1112室</p>
                <p><img />电话：+86(21) - 55830749 / 17301879533 </p>
            </dir> -->
            <dir class="footer_nei_right">
                <span>
                    <b>联系我们</b>
                    <i>地址：上海市国定东路275 - 8号绿地汇创LOFT 1112室</i>
                    <i>电话：+86(21) - 55830749 / 17301879533 </i>
                </span>
                <span>
                    <b>商务合作</b>
                    <i>商务：business@bongostech.com</i>
                    <i>销售：sales@bongostech.com</i>
                </span>
                <span>
                    <b>客户支持</b>
                    <i>在线订购</i>
                    <a href="support.html">技术支持</a>
                </span>
            </dir>
        </div>
        <div class="footer_nei_di">
            <p >版权所有 © 邦鼓思电子科技（上海）有限公司 2017 <a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备16005080号</a></p>
        </div>
    </div>

<div class="sp_shangc">
    <div class="sp_shangc_cha"><img src="images/cha.png"></div>
    <div class="sp_shangc_hui"></div>
    <div class="sp_shangc_neo">
        <iframe frameborder="0" src="" allowfullscreen="" class="iframe"></iframe>
    </div>
</div>

</body>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
    // new WOW().init();
     var wow = new WOW({
    boxClass: 'wow',
    animateClass: 'animated',
    offset: 100,
    mobile: true,
    live: true
    });
    wow.init();
};
</script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/zhong.js"></script>
</html>
