<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, "> 
    <title>邦鼓思 | 嵌入式人工智能 </title>
    <!-- 公共 -->
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <!-- 插件动画 （滑动到屏幕区域执行动画）-->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <!-- 页面样式 -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <!-- 页头和页尾 houjia-->
    <link rel="stylesheet" type="text/css" href="css/top_wei.css">


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <link rel="icon" href="/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header_nei zhongk clear">
            <div class="header_left">
                <img src="images/logo.png">
            </div>
            <div class="header_right">
                <a href="index.html">{{ index }}</a>
                <a href="products.html" class="header_xuan">{{ product }}</a>
                <a href="support.html">{{ support }}</a>
                <a href="about.html">{{ about }}</a>
                <a class="translation">{{ en }}</a>
            </div>
            <div class="header_right_sj">
                <img src="images/celan.png">
            </div>
        </div>
        <div class="heibei"></div>
        <div class="daohang">
            <a href="index.html">{{ index }}</a>
            <a href="products.html" class="daohang_z">{{ product }}</a>
            <a href="support.html">{{ support }}</a>
            <a href="about.html">{{ about }}</a>
            <a class="translation">{{ en }}</a>
            <span class="dh_chacha"><img src="images/203.png"></span>
        </div>
    </div>
<script type="text/javascript" src="js/ziji.js"></script>

    <div class="banner">
        <img src="images/banner5.jpg" style="width:100%;">
    </div>

    <div class="content">
        <div class="canpin">
            <div class="canpin_qian zhongk">
                <ul class="clear">
                    <li>
                        <img src="images/canpin_qian1.jpg">
                        <div class="canpin_qian_k">
                            <span>室内外机器人平台</span>
                        </div>
                    </li>
                    <li>
                        <img src="images/canpin_qian2.jpg">
                        <div class="canpin_qian_k">
                            <span>Conga草坪机器人</span>
                        </div>
                    </li>
                    <li>
                        <img src="images/canpin_qian3.jpg">
                        <div class="canpin_qian_k">
                            <span class="span_eh">Rik Pro GNSS卫星</br>坚固型接收机</span>
                        </div>
                    </li>
                    <li>
                        <img src="images/canpin_qian4.jpg">
                        <div class="canpin_qian_k">
                            <span>GNSS全向接收天线</span>
                        </div>
                    </li>
                    <li>
                        <img src="images/canpin_qian5.jpg">
                        <div class="canpin_qian_k">
                            <span class="span_eh">Rik Dual 双频多星</br>厘米级精度定位模块</span>
                        </div>
                    </li>
                    <li>
                        <img src="images/canpin_qian6.jpg">
                        <div class="canpin_qian_k">
                            <span class="span_eh">Rik lite单频多星</br>分米级精度定位模块</span>
                        </div>
                    </li>
                    <li>
                        <img src="images/canpin_qian7.jpg">
                        <div class="canpin_qian_k">
                            <span>无线数传模块</span>
                        </div>
                    </li>
                    <li>
                        <img src="images/canpin_qian8.jpg">
                        <div class="canpin_qian_k">
                            <span>Byngo机器人控制平台</span>
                        </div>
                    </li>
                    <li>
                        <img src="images/canpin_qian9.jpg">
                        <div class="canpin_qian_k">
                            <span class="span_eh">Byngo嵌入式</br>人工智能模块</span>
                        </div>
                    </li>
                    <li>
                        <img src="images/canpin_qian10.jpg">
                        <div class="canpin_qian_k">
                            <span>差分路由器</span>
                        </div>
                    </li>
                    <li class="zuihbuxs">
                        <img src="images/canpin_qian11.jpg">
                    </li>
                </ul>
            </div>

            <div class="canpin_wen zhongk">
                <img src="images/canpin_wen1.jpg" class="canpin_wen_da">
                <span>
                    <b>室内外智能物流搬运解决方案 <img src="images/xiazai.png"></b>
                    <p>针对机场、物流集散中心、商城、码头等应用场景，邦鼓思推出了室内外一体智能物流搬运解决方案。此方案可以利用一台设备解决客户室内和室外的两方面需求，降低成本的同时实现真正的无人智能。方案涵盖邦鼓思系列自研成果，可以帮助客户实现精准定位、路径规划、协同工作、室内外无缝衔接等需求。</p>
                </span>

                <img src="images/canpin_wen2.jpg" class="canpin_wen_da">
                <span>
                    <b>智能车辆辅助驾驶解决方案 <img src="images/xiazai.png"></b>
                    <p>集成了超强防抖摄像数据和人工智能算法的嵌入式智能辅助驾驶系统，能够智能感知、自定位、判别、预警车辆自身情况和实时路况。面向汽车后装市场，为行车安全提供多一分保障。</p>
                </span>

                <img src="images/canpin_wen3.jpg" class="canpin_wen_da">
                <span>
                    <b>农林智能养护解决方案 <img src="images/xiazai.png"></b>
                    <p>大型农业无人养护解决方案，针对农用拖拉机、联合收割机、植保无人机等后装市场，能够快速改造升级农用设备。方案融合了邦鼓思独立研发的精准控制系统、路径规划系统、精准定位系统、逻辑避障系统，能够有效提高农耕收割的作业效率，解放劳动力。</p>
                </span>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer_nei clear zhongk">
            <!-- <dir class="footer_nei_left">
                <span>联系我们</span>
                <p><img />地址：上海市国定东路275 - 8号绿地汇创LOFT 1112室</p>
                <p><img />电话：+86(21) - 55830749 / 17301879533 </p>
            </dir> -->
            <dir class="footer_nei_right">
                <span>
                    <b>联系我们</b>
                    <i>地址：上海市国定东路275 - 8号绿地汇创LOFT 1112室</i>
                    <i>电话：+86(21) - 55830749 / 17301879533 </i>
                </span>
                <span>
                    <b>商务合作</b>
                    <i>商务：business@bongostech.com</i>
                    <i>销售：sales@bongostech.com</i>
                </span>
                <span>
                    <b>客户支持</b>
                    <i>在线订购</i>
                    <a href="support.html">技术支持</a>
                </span>
            </dir>
        </div>
        <div class="footer_nei_di">
       </div>
            <p >版权所有 © 邦鼓思电子科技（上海）有限公司 2017 <a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备16005080号</a></p>
        </div>
    </div>

    <div class="tanc_canp">
        <div class="tanc_canp_hei"></div>
        <div class="tanc_canp_nei clear">
            <a class="tanc_canp_nei_chacha"><img src="images/cha.png"></a>
            <div class="tanc_canp_nei_left">
                 <img src="images/canpin_qian1.jpg">
            </div>
            <div class="tanc_canp_nei_right">
                 <b>产品一详情</b>
                 <div class="canq_jies">
                     
                 </div>
            </div>
            <a class="xiazai"><img src="images/xiazai.png"></a>
        </div>
    </div>
</body>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
    // new WOW().init();
     var wow = new WOW({
    boxClass: 'wow',
    animateClass: 'animated',
    offset: 100,
    mobile: true,
    live: true
    });
    wow.init();
};
</script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/zhong.js"></script>
</html>