<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, "> 
    <title>邦鼓思 | 嵌入式人工智能  </title>
    <!-- 公共 -->
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <!-- 插件动画 （滑动到屏幕区域执行动画）-->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <!-- 页面样式 -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <!-- 页头和页尾 houjia-->
    <link rel="stylesheet" type="text/css" href="css/top_wei.css">


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <link rel="icon" href="/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header_nei zhongk clear">
            <div class="header_left">
                <img src="images/logo.png">
            </div>
            <div class="header_right">
                <a href="index.html">{{ index }}</a>
                <a href="products.html">{{ product }}</a>
                <a href="support.html" class="header_xuan">{{ support }}</a>
                <a href="about.html">{{ about }}</a>
                <a class="translation">{{ en }}</a>
            </div>
            <div class="header_right_sj">
                <img src="images/celan.png">
            </div>
        </div>
        <div class="heibei"></div>
        <div class="daohang">
            <a href="index.html">{{ index }}</a>
            <a href="products.html">{{ product }}</a>
            <a href="support.html" class="daohang_z">{{ support }}</a>
            <a href="about.html">{{ about }}</a>
            <a class="translation">{{ en }}</a>
            <span class="dh_chacha"><img src="images/203.png"></span>
        </div>
    </div>
<script type="text/javascript" src="js/ziji.js"></script>

    <div class="content" style="margin-top:50px;">
        <div class="jishuzc zhongk">
            <p>技术支持</p>
            <ul class="clear">
                <li>
                    <a href="http://wiki.bongostech.com/pages/viewpage.action?pageId=7077923" target="_blank">
                        <span><img src="images/jishuzc1.jpg"></span>
                        <b>产品文档</b>
                    </a>
                </li>
                <li>    
                    <a href="http://wiki.bongostech.com/pages/viewpage.action?pageId=7077927" target="_blank">
                        <span><img src="images/jishuzc2.jpg"></span>
                        <b>软件文档</b>
                    </a>
                </li>
                <li>
                    <a href="http://wiki.bongostech.com/pages/viewpage.action?pageId=7077929" target="_blank">
                        <span><img src="images/jishuzc3.jpg"></span>
                        <b>Freewave支持中心</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <div class="footer_nei clear zhongk">
            <!-- <dir class="footer_nei_left">
                <span>联系我们</span>
                <p><img />地址：上海市国定东路275 - 8号绿地汇创LOFT 1112室</p>
                <p><img />电话：+86(21) - 55830749 / 17301879533 </p>
            </dir> -->
            <dir class="footer_nei_right">
                <span>
                    <b>联系我们</b>
                    <i>地址：上海市国定东路275 - 8号绿地汇创LOFT 1112室</i>
                    <i>电话：+86(21) - 55830749 / 17301879533 </i>
                </span>
                <span>
                    <b>商务合作</b>
                    <i>商务：business@bongostech.com</i>
                    <i>销售：sales@bongostech.com</i>
                </span>
                <span>
                    <b>客户支持</b>
                    <i>在线订购</i>
                    <a href="support.html">技术支持</a>
                </span>
            </dir>
        </div>
        <div class="footer_nei_di">
            <p >版权所有 © 邦鼓思电子科技（上海）有限公司 2017 <a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备16005080号</a></p>
        </div>
    </div>
</body>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
    // new WOW().init();
     var wow = new WOW({
    boxClass: 'wow',
    animateClass: 'animated',
    offset: 100,
    mobile: true,
    live: true
    });
    wow.init();
};
</script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/zhong.js"></script>
</html>